.element__like {
    min-width: 20.76px;
    min-height: 18.13px;
    margin-left: 15px;
    background-image: url(../../../images/element-like.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.element__like:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity ease .4s;
}