.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    background-image: url(../../../images/profile-edit.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 17px;
}

.profile__edit-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 450px){
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 1px;
    }
}