.profile__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 318px;
    margin-top: 6px;
}

@media screen and (max-width: 700px) {
    .profile__subtitle {
        margin-top: 14px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .profile__subtitle {
        margin-top: 4px;
        font-size: 14px;
        line-height: 17px;
    }
}