.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    align-self: center;
    background-color: #000000;
    background-image: url(../../../images/profile-add.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 700px){
    .profile__add-button  {
        width: 100%;
    }
}