.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    max-width: 295px;
    display: inline;
}

@media screen and (max-width: 450px){
    .profile__name {
        font-size: 27px;
    }
}